{% extends 'layout.html.twig' %}

{% block title %}
    Au p'tit magasin bleu ajout de catégorie
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/Admin/product.css">
{% endblock %}

{% block content %}
    <h1>Ajouter une nouvelle catégorie</h1>
    {% include 'AdminCategory/_form.html.twig' %}
{% endblock %}
