{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/Admin/updateproduct.css">
{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="col-12 titleAdminEdit">Modifier le nom de : <br> {{ category.name }} </h1>
    </div>
    <div class="row">
        <div class="col-12">
            {% include 'AdminCategory/_form.html.twig' %}
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary backButton"><a href="/AdminCategory/index">Retour</a></button>
    </div>
{% endblock %}
