{% extends 'layoutAdmin.html.twig' %}

{% block title %}
    Au p'tit magasin bleu édition de catégories
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/Admin/product.css">
{% endblock %}

{% block content %}
    <div class="row">
        <a href="/AdminCategory/index" class="backButton"><button class="btn btn-primary btn-lg">Retour</button></a>
        <h1 class="col-12 titleAdmin">Modifier le nom de :</br> {{ category.name }}</h1>
    </div>
    <div class="row">
        <div class="col-12">
            {% include 'AdminCategory/_form.html.twig' %}
        </div>
    </div>
{% endblock %}
