*{
    margin: 0 20px;
    background-color: var(--color-light);
    color: var(--color-somber);
}

.backButton{
    margin-left: 1em;
    margin-top: 100px;
}

.validationButton{
    width: 100px;
}

.titleAdminEdit{
    margin-bottom: 80px;
    text-align: center;
}
