h1{
    font-family: var(--font-title);
    color: var(--color-primary);
}
*{
    margin: 0 20px;
    color: var(--color-somber);
}
.backButton{
    margin-left: 5%;
    margin-top: 2%;
}

.validation-btn{
    margin-top:2%;
    width:50%;
}

.titleAdmin{
    margin-bottom: 80px;
    text-align: center;
}
