{% block content %}

        <div class="row card-deck universe">
            {%  for universe in universes %}
            <div class="col-lg-6 col-md-6 col-sm-12 card">
                <img src={{ '/assets/images/' ~ universe.image }} class="card-img-top" alt={{ universe.name }}>
                <div class="card-body">
                    <h5 class="card-title">{{ universe.name }}</h5>
                    <p class="card-text">{{ universe.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>


{% endblock %}
