       <div class="row card-deck">
            {%  for universe in universes %}
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 columns">
                    <a class="cardLink" href="#">
                        <div class="card">
                            <img src={{ '/assets/images/' ~ universe.image }} class="card-img-top" alt={{ universe.name }}>
                            <div class="card-body">
                                <h4 class="card-title">{{ universe.name|capitalize}}</h4>
                                <p class="card-text">{{ universe.description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
