{% block footer %}

<footer class="page-footer font-small stylish-color-dark pt-4">

    <nav>

        <div class="container text-center text-md-left">

            <div class="row">

                <hr class="clearfix w-100 d-md-none">

                <div class="col-md-3 mx-auto">

                    <h2 class="font-weight-bold text-uppercase mt-3 mb-3">Informations</h2>

                    <ul class="list-unstyled">
                        <li>
                            <a href="Condition/condition#ancre1">La commande</a>
                        </li>
                        <li>
                            <a href="Condition/condition#ancre2">Données personnelles</a>
                        </li>
                    </ul>

                </div>

                <hr class="clearfix w-100 d-md-none">

                <div class="col-md-3 mx-auto">

                    <h2 class="font-weight-bold text-uppercase mt-3 mb-3">Conditions de commande</h2>

                    <ul class="list-unstyled">
                        <li>
                            <a href="Condition/condition#ancre3">Paiement</a>
                        </li>
                        <li>
                            <a href="Condition/condition#ancre4">Expédition</a>
                        </li>
                        <li>
                            <a href="Condition/condition#ancre5">Livraison</a>
                        </li>
                    </ul>

                </div>

                <hr class="clearfix w-100 d-md-none">

                <div class="col-md-3 mx-auto">

                    <h2 class="font-weight-bold text-uppercase mt-3 mb-3">Rétractation</h2>

                    <ul class="list-unstyled">
                        <li>
                            <a href="Condition/condition#ancre6">Droit de rétractation</a>
                        </li>
                        <li>
                            <a href="Condition/condition#ancre7">Retours et modalités</a>
                        </li>
                        <li>
                            <a href="Condition/condition#ancre8">Litiges</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <hr>

    <div class="contactUs">
        <h2 class="mb-3">Contactez-nous !</h2>
        <a href="/Contact/contact" target="_blank" class="btn btn-primary btn-ripple">Contact</a>
    </div>


</footer>

{% endblock %}
