{% extends 'layout.html.twig' %}

{% block title %}
    Au p'tit magasin bleu
{%  endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/Home/index.css">
{% endblock %}

{% block navbar %}
    {% include 'Home/nav.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container">
        {% include '/Home/_universe.html.twig' %}
    </div>
{% endblock %}

{% block footer %}
    {% include "/Home/footer.html.twig" %}
{% endblock %}
