<iframe class="frame-map"
        src="https://www.openstreetmap.org/export/embed.html?bbox=1.89826101064682%2C47.90967769794333%2C1.9026035070419314%2C47.9112885806515&amp;layer=mapnik&amp;marker=47.91048314556521%2C1.900433599948883">
</iframe>
<div class="card md-2 card-hours">
    <div class="col-md-12 hours">
        <div class="card-body card-body-hours">
            <h5 class="card-title card-title-hours">Horaires</h5>
            <i class="fa fa-calendar fa-2x"></i>
            <p class="card-text card-text-hours">Mardi au samedi</p>
            <i class="fa fa-clock-o fa-2x"></i>
            <p class="card-text card-text-hours">9h30-12h 14h-19h</p>
            <i class="fa fa-calendar fa-2x"></i>
            <p class="card-text card-text-hours">Dimanche/Lundi</p>
            <i class="fa fa-times-circle fa-2x"></i>
        </div>
    </div>
</div>
<div class="card md-2 card-hours">
    <div class="col-md-12 hours">
        <div class="card-body card-body-hours">
            <h5 class="card-title card-title-hours">Infos</h5>
            <i class="fa fa-map-marker fa-2x"></i>
            <p class="card-text card-text-hours">69 rue du faubourg bannier 45000 Orléans</p>
            <i class="fa fa-phone fa-2x"></i>
            <p class="card-text card-text-hours">02 38 62 49 73</p>
            <i class="fa fa-envelope fa-2x"></i>
            <p class="card-text card-text-hours">contact@magbleu.com</p>
        </div>
    </div>
</div>

