{% extends 'index.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="#">Au p'tit magasin bleu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr">
                <li class="nav-item">
                    <a class="nav-link" href="#">Train</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Maquette</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Jouet</a>
                </li>
            </ul>
            <a class="btn-info btn-lg">
                <span class="glyphicon glyphicon-envelope"></span> Contact
            </a>
        </div>
    </nav>
{% endblock %}
