{% block navbar %}

    <nav class="navbar navbar-expand-md navbar-dark navbar-fixed-top">
        <a class="navbar-brand" href="/">Au p'tit magasin bleu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if universe == 'train' %}selectedUniverse{% endif %}"
                       href="/product/indexUniverse/train">Train</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if universe == 'maquette' %}selectedUniverse{% endif %}"
                       href="/product/indexUniverse/maquette">Maquette</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if universe == 'jouet' %}selectedUniverse{% endif %}"
                       href="/product/indexUniverse/jouet">Jouet</a>
                </li>
            </ul>
            <div class="list-inline-item-nav">
                <form method="GET" action="/product/search/1/" autocomplete="on" class="formAutocomplete">
                    <div class="autocompleteSearch">
                        <input type="search" name="search" class="search form-control" placeholder="Chercher un produit">
                    </div>
                    <button type="submit" class="btn btn-primary btn-ripple btn-lg">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
                <a href="/adminProduct/index" class="btn btn-primary btn-ripple btn-lg">Administration</a>
                <a href="/Contact/contact" target="_blank" class="btn btn-primary btn-ripple btn-lg">Contact</a>
            </div>
        </div>

    </nav>
{% endblock %}
