@import "../Home/nav.css";
@import "../Home/footer.css";

.conditionsTitle
{
    text-align:center;
    font-size:var(--size-font-title);
    text-decoration: underline;

}

.conditionsPart
{
    font-size:var(--size-font-primary);
    text-decoration:underline;
    margin-left: 27px;
    margin-top:10px;
}

.conditionsList
{
    margin-top:5px;
    margin-left:50px;
}
