.text-defile {
    color: var(--color-light);
    font-size: 10vh;
    align-self: flex-end;
    font-family: var(--font-title);
    background: var(--color-filter-image);
    width: 100%;
    text-align: center;
    margin-bottom: 6vh;
}

.carousel {
    background: url("../../images/background_carousel.webp") center;
    background-size: cover;
    width: 100%;
    margin-top: 60px;
}

.view {
    height: 94vh;
    display: flex;
    justify-content: center;
}

.carousel-control-next, .carousel-control-prev {
    display: none;
}
