.contactForm {
    margin:60px;
}

.h2-responsive{
    overflow:hidden;
    font-family: var(--font-title);
    color: var(--color-primary);
    font-size: var(--size-font-title);
}


.form-contact{
    display: flex;
    justify-content: center;
}

.sendValidation{
    margin-top: 20px;
    background-color: var(--color-primary);
}

.formLabel{
    margin-top: 20px;
}