footer {
    color:var(--color-light);
    background-color:var(--color-primary);
}

a{
    color:var(--color-light);
    font-size:17px;
}

a:hover{
    color:var(--color-light);
}

h2{
    font-size:16px;
    overflow:hidden;
}

.btn-ripple{
    background-color: var(--color-primary);
    border-color: var(--color-light);
}

.btn-ripple:hover{
    background-color: var(--color-light);
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.contactUs {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.contactUs .btn {
    margin: 1rem;
}