footer {
    color:var(--color-light);
    background-color:var(--color-primary);
}

a{
    color:var(--color-light);
    font-size:17px;
}

a:hover{
    color:var(--color-light);
}

h2{
    font-size:17px;
}

