.lastproducts {
    padding-bottom: 3em;
}

.tltleDeck {
    text-align: center;
    padding: 20px;
    display: block;
    font-family: var(--font-title);
    font-size: var(--size-font-title);
    color: var(--color-primary);
    overflow: hidden;
}

.avail {
    color: var(--color-somber);
    margin-left: 4vw;
}

.card-deck {
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 0;
    padding: 10px;
    position: relative;
}

.lastproducts .card-img-top {
    height: 14em;
    object-fit: cover;
    clip-path: inset(0px 0px 40px 0px);
}

.lastproducts .card-body {
    max-height: 10em;
}

.flex-wrap {
    margin: 0;
    padding: 0;
}

.card-deck .card {
    border-color: var(--color-primary);
    margin: 2rem;
    border-radius: 0;
    transition: box-shadow .3s ease-in-out;
}

.card:hover {
    cursor: pointer;
    background-color: var(--color-light);
    box-shadow: 0 0 1px 1px var(--color-somber);
}

.card-img-top {
    height: 20vh;
    width: 100%;
    object-fit: cover;
}

.lastproducts .card-text {
    text-align: center;
    margin-top: 2em;
    color: var(--color-somber);
}

.card-body {
    color: var(--color-somber);
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-body span {
    width: 60%;
    height: 3rem;
    text-align: center;
}

.card-title-last {
    color: var(--color-primary);
    font-family: var(--font-title);
    font-size: 3rem;
    text-align: center;
    overflow: visible;
    word-spacing: 0.3rem;

}
.card-price {
    font-size: 2.8rem;
    font-weight: bolder;
    color: var(--color-somber);
    margin: 0;

}

.inStock {
    font-weight: bolder;
    font-style: oblique;
}

.badge-primary {
    background-color: var(--color-light-blue);
    color: var(--color-somber);
}

.badge-success {
    background-color: var(--color-md-blue);
}
