.lastproducts {
}

.title {
    text-align: center;
    padding: 20px;
}

.lastproducts h2 {
    display: block;
    font-family: var(--font-title);
    font-size: var(--size-font-title);
    color: var(--color-primary);
    overflow: hidden;
}

.lastproducts h5 {
    font-size: 30px;
    text-align: left;
}

.card_deck_last {
    background-color: var(--color-light-blue);
    border-radius: 1rem;
}

.card_deck_last .card {
    max-width: 540px;
    max-height: 250px;
}

.row.no-gutters {
    height: 100%;
}

.productimage {
    align-self: center;
}

/* MOBILE VERSION */
@media screen and (max-width: 768px) {

    .lastproducts {
        order:-1;
    }

    .productimage {
        order:2;
        text-align: center;
    }

    .card-img {
        height: 30vh;
        width: auto;
    }

    .lastproducts h5 {
        text-align: center;
    }

    .lastproducts p {
        text-align: center;
    }

}