.container-fluid {
    padding: 0;
}

.navbar {
    background-color: var(--color-primary);
    border-radius: 0;
}

.navbar-brand{
    font-size: 2rem ;
    margin-left: 10px;
    margin-right: 30px;
    font-family: var(--font-title);
}

.collapse navbar-collapse{
    display: flex;
}

.navbar-nav{
    font-size: 25px ;
    display: flex;
}

.nav-item{
    margin-right: 30px;
}

.nav-link{
    font-family: var(--font-title);
}

.list-inline-item-nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    margin-left: 2rem;
}

.navbar-dark .navbar-nav .selectedUniverse {
    color: var(--color-light);
    border-style: solid;
    border-color: var(--color-md-blue);
    border-radius: 1rem;
    width: max-content;
    height: max-content;
}

.formAutocomplete {
    width: 20vw;
    height: 40px;
}

.autocompleteSearch {
    position: relative;
    display: inline-block;
    padding: 4px;
    outline: none;
}

@media only screen and (max-width: 768px) {
    .list-inline-item-nav {
        margin-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .formAutocomplete {
        width: 100%;
    }
}

.btn-ripple{
    background-color: var(--color-primary);
    border-color: var(--color-light);
}

.btn-ripple:hover{
    background-color: var(--color-light);
    color: var(--color-primary);
    border-color: var(--color-primary);
}
