.universes {
    width: 95%;
}

.tltleDeck {
    text-align: center;
    padding: 20px;
    display: block;
    font-family: var(--font-title);
    font-size: var(--size-font-title);
    color: var(--color-primary);
    overflow: hidden;
}

.card-deck {
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 10px;
    position: relative;
}

.card {
    border-color: var(--color-primary);
    height: 50vh;
    transition: box-shadow .3s ease-in-out;
}

.card:hover {
    cursor: pointer;
    background-color: var(--color-light);
    box-shadow: 0 0 1px 1px var(--color-somber);
}

.card-img-top {
    height: 30vh;
}

.card-body {
    color: var(--color-primary);
    overflow: visible;
    z-index: 2;
}

.card-title {
    font-family: var(--font-title);
    font-size: var(--size-font-title);
    text-align: center;
    overflow: visible;

}
.card-text {
    color: var(--color-somber);
}

.cardLink:link {
    text-decoration: none;
    margin: 16px;
}

.steam_train_img {
    width: 16rem;
    height: 16rem;
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .steam_train_img {
        display: none;
    }

    .card-img-top {
        height: 400px;
    }
}
