.universes {
    width: 95%;
}

.tltleDeck {
    text-align: center;
    padding: 20px;
    display: block;
    font-family: var(--font-title);
    font-size: var(--size-font-title);
    color: var(--color-primary);
    overflow: hidden;
}

.card-deck {
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 10px;
    position: relative;
}

.universes .card {
    border-color: var(--color-primary);
    height: 30vh;
    width: 30vw;
    border-radius:0;
}

.universes .card-img-top {
    position: absolute;
    border-radius: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-body {
    color: var(--color-primary);
    overflow: visible;
    z-index: 2;
    padding: 0;
}

.card-body:hover {
    background-color: var(--color-filter-light);
}

.card-title {
    font-family: var(--font-title);
    font-size: var(--size-font-title);
    text-align: center;
    overflow: visible;
    height: auto;
    margin-top: 2.7em;
    text-shadow: 0 0 5px var(--color-light);
}

.cardLink:link {
    text-decoration: none;
    margin: 16px;
}

@media only screen and (max-width: 768px) {
    .card-img-top {
        height: 400px;
    }
}