{% extends 'Home/index.html.twig' %}

{% block content %}

    <section class="conditions">
        <h1>Conditions Générales de Vente</h1>
        <article id="ancre">
            <h2>La commande</h2>
            <ul>
                <li>Toute commande donne lieu à confirmation par e-mail.</li>
                <li>Votre commande ne sera effective qu'auprès émission d'une note (e-mail) de confirmation de commande.</li>
            </ul>
        </article>
        <article id="ancre2">
            <h2>Les prix</h2>
            <ul>
                <li>Les prix indiqués sont susceptibles d'êtres modifiés en cas de changement de tarif de nos fournisseurs.</li>
                <li>Les prix indiqués sont valables jusqu'au 30 décembre 2019 (sauf erreur de saisie).</li>
            </ul>
        </article>
        <article id="ancre3">
            <h2>Le paiement</h2>
            <ul>
                <li>Le paiement ne sera encaissé que le jour de l'expédition du produit commandé.</li>
                <li>Le paiement peut s'effectuer par Carte Bancaire(Amex, Visa, Carte Bleue, MasterCard, AMEX),
                    virement ou chèque </li>
                <li>VOus pouvez nous communiquer votre numéro de carte bancaire et la date d'expiration ainsi
                    que le cryptogramme de 3 chiffres au dos de votre carte, par un e-mail distinct de votre commande,
                    ou par téléphone au 02 38 62 49 73. Le P'tit Magasin bleu est agréé par le GIE cartes bancaires pour effectuer
                    le débit à distance.</li>
            </ul>
        </article>
        <article>
            <h2>L'expédition</h2>
            <ul>
                <li>L'expédition en France métropolitaine s'effectue avec le prestataire : LA POSTE, en Colissimo SUivi recommandé
                    au prix forfaitaire de 14 euros sauf pour les articles faisant l'objet d'un tarif de port spécifique.</li>
                <li>Pour les expéditions au delà de la France continentale, nous consulter pour les frais de transport.</li>
            </ul>
        </article>
        <article>
            <h2>La livraison</h2>
            <ul>
                <li>Toute réclamation pour non conformité ou manquant dû devra être transmise
                    dans la semaine qui suit la date de réception de la commande.</li>
                <li>Le transfert de propriété des produits livrés ou à livrer est suspendu jusqu'au
                    paiement intégral du prix par le client et ce sans incidence sur le trasnfert des risques.</li>
                <li>L'acheteur s'engage à se débarrasser de l'emballage ayant servi au conditionnement
                    des marchandises en respectant la réglementation applicable.
                    À ce titre, l'acheteur garantit Magbleu.com contre toute infraction aux obligations légales de reprise
                    ou de recyclage desdits emballages qui pourraient exister, et indemnisera Magbleu.com de son entier préjudice.</li>
            </ul>
        </article>
        <article>
            <h2>Les données personnelles</h2>
            <ul>
                <li>Toutes les informations concernant nos clients ne seront utilisées que par le
                    P'tit Magasin Bleu. Ces informations seront détruites sur demande express de l'intéressé.
                    Aucune information bancaire n'est enregistrée et conservée dans nos systèmes informatiques.</li>
            </ul>
        </article>
        <article>
            <h2>Droit de rétractation</h2>
            <ul>
                <li>En vertu de l'article L121-20 du Code de la consommation, le client dispose
                    d'un délai de rétractation de quatorze jours francs à compter de la livraison
                    de sa commande. Pour exercer le droit de rétractation, le client doit nous informer de sa
                    décision de se rétracter en nous adressant, par courrier à  Magasin Bleu 69 rue du faubourg
                    bannier 45000 Orléans le formulaire de rétractation à telecharger dûment
                    complété avant l'expiration du délai de rétractation de 14 jours.</li>
                <li>Dans le cas où vous exercer votre droit de rétractation,  le client doit, dans un
                    délai de 14 jours à compter de la notification de sa rétractation,  faire retour
                    des produits à Magasin Bleu 69 rue du faubourg bannier 45000 Orléans, pour
                    échange ou remboursement.</li>
            </ul>
        </article>
        <article>
            <h2>Retours et modalités</h2>
            <ul>
                <li>Tout retour de produit doit faire l'objet d'un accord de notre part. Nous vous
                    attribuerons un numéro de retour que vous devrez faire apparaître sur le
                    colis, faute de quoi celui-ci serait refusé à la réception.</li>
                <li>Les retours sont à effectuer dans leur emballage d'origine, complets
                    (accessoires, notice...), en parfait état, accompagnés d’une copie de la
                    facture.</li>
                <li>Les articles retournés incomplets, abîmés, endommagés ou salis par le client
                    ne sont pas repris.</li>
                <li>Le choix du port et risques de retour demeurent à la charge de l'acheteur
                    Nous vous conseillons donc d’assurer vos expéditions à la valeur de votre
                    facture.</li>
                <li>Toute reprise acceptée par notre service clients entraînera constitution d'un
                    avoir ou d'un remboursement (à la demande de l'acheteur) au profit de
                    l'acheteur après vérification qualitative des produits retournés.</li>
                <li>Seul le prix du ou des produits retournés sera remboursé, en utilisant le même
                    moyen de paiement que celui que vous avez utilisé pour la transaction initiale.</li>
            </ul>
        </article>
        <article>
            <h2>Litiges</h2>
            <ul>
                <li>Toute commande passée emporte l'adhésion du client, et ce sans aucune
                    restriction, aux Conditions Générales de vente de P'etit Magasin Bleu. Tout
                    différend relatif à la vente (prix, produit ...) sera soumis au droit français.</li>
            </ul>

        </article>




    </section>

{% endblock %}
