:root {
    --color-light: #e3eaf2;
    --color-light-blue: #62bfed;
    --color-md-blue: #3590f3;
    --color-Primary: #0066cc;
    --color-dark: #03080f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
