@import "Describe/describe.css";
@import "Contact/contact.css";

:root {
    --color-light: #e3eaf2;
    --color-light-blue: rgba(0, 102, 204, 0.11);
    --color-md-blue: #60adf3;
    --color-primary: #0066cc;
    --color-somber: #00264D;
    --color-filter-image: rgba(0, 0, 0, .4);
    --font-primary: 'Lato', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --font-title: 'Spicy Rice', cursive;
    --size-font-primary: 2rem;
    --size-font-title: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    font-family: var(--font-primary);
    font-size: var(--size-font-primary);
}
