{% extends 'layout.html.twig' %}

{% block title %}
    Au p'tit magasin bleu ajout de produit
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/Admin/product.css">
{% endblock %}

{% block content %}
    <div class="row ">
        <a href="/AdminProduct/index" class="backButton"><button class="btn btn-primary btn-lg">Retour</button></a>
        <h1 class="col-12 titleAdmin">Ajouter un nouveau produit</h1>
    </div>

    <div class="row">
        <div class="col-12">
            {% include 'AdminProduct/_form.html.twig' %}
        </div>
    </div>
{% endblock %}
