{% extends 'layoutAdmin.html.twig' %}

{% block navbar %}
    <div class="nav">
        <ul>
            <li><a href="/Home/index">Au p'tit magasin bleu</a></li>
            <li><a href="#">Univers</a></li>
            <li><a href="#">Catégories et marques</a></li>
            <li><a href="#">Produits</a></li>
        </ul>
    </div>
{% endblock %}