@import "../Home/nav.css";
@import "../Home/footer.css";

.titleProductUniverse {
    color: var(--color-primary);
    font-family: var(--font-title);
    font-size: var(--size-font-title);
    margin-left: 4vw;
}

.avail {
    color: var(--color-somber);
    margin-left: 4vw;
}

.card-deck {
    justify-content: center;
    margin: 2rem;
    background-color: var(--color-light-blue);
    border-radius: 1rem;
    padding: 10px;
    position: relative;
}

.flex-wrap {
    margin: 0;
    padding: 0;
}

.card-deck .card {
    border-color: var(--color-primary);
    height: 50vh;
    margin: 2rem;
    border-radius: 1rem;
    transition: box-shadow .3s ease-in-out;
}

.card:hover {
    cursor: pointer;
    background-color: var(--color-light);
    box-shadow: 0 0 1px 1px var(--color-somber);
}

.card-img-top {
    height: 20vh;
    object-fit: fill;
}

.card-body {
    color: var(--color-somber);
    overflow: visible;
    height: 30vh;
    display: flex;
    flex-direction: column;
}

.card-title {
    color: var(--color-primary);
    font-family: var(--font-title);
    height: 10vh;
    font-size: 3rem;
    text-align: center;
    overflow: visible;

}
.card-text {
    color: var(--color-somber);
    overflow: visible;

}

.btn {
    align-self: end;
}

.navPage {
    display: flex;
    justify-content: center;
}
