{% extends 'layout.html.twig' %}

{% block title %}
    Au p'tit magasin bleu ajouot de marque
{% endblock %}

{% block content %}
    <h1>Ajouter une nouvelle marque</h1>
    {% include 'AdminBrand/_form.html.twig' %}
{% endblock %}
