{% extends 'Home/index.html.twig' %}


{% block content %}

    <section class="contactForm">
        <form method="post">
            <div class="form-group">
                <label for="Name">Nom</label>
                <input type="text" class="form-control form-control-sm" id="Name" name="name" placeholder="John Doe">
                    {% if errors.name is defined %}
                        {% for error in errors.name %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control form-control-sm" id="Email" name="email" placeholder="contact@gmail.com">
                    {% if errors.email is defined %}
                        {% for error in errors.email %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
            </div>
            <div class="form-group">
                <label for="Telephone">Téléphone</label>
                <input type="tel" class="form-control form-control-sm" id="Phone" name="phone" placeholder="0631******">
                    {% if errors.phone is defined %}
                        {% for error in errors.phone %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
            </div>
            <div class="form-group">
                <label for="Comment">Message</label>
                <textarea name="message" class="form-control form-control-sm" rows="5" placeholder="Rédigez votre message..." ></textarea>
                {% if errors.message is defined %}
                    {% for error in errors.message %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </section>

{% endblock %}
